// Palette
$color-brand-blue-dark: #0745f1 !default;
$color-brand-blue: #3369ff !default;
$color-brand-grey-dark: #4d4d4d !default;
$color-brand-pink-dark: #ffcbd7 !default;
$color-brand-pink-light: #fff4f6 !default;
$color-brand-pink: #ffebef !default;

// Font Families
$font-family-serif: "Fraunces", serif;
$font-family-sans: "Ubuntu", sans-serif !important;

@use "sprucecss/scss/spruce" with (
  $font-family-base: $font-family-sans,
  $font-family-heading: $font-family-serif,
  $colors: (
    base: (
      "blockquote-border": $color-brand-pink-dark,
      "brand-blue-dark": $color-brand-blue-dark,
      "brand-blue": $color-brand-blue,
      "brand-pink-dark": $color-brand-pink-dark,
      "brand-pink-light": $color-brand-pink-light,
      "brand-pink": $color-brand-pink,
      heading: $color-brand-grey-dark,
      primary: $color-brand-blue,
      text: $color-brand-grey-dark,
    ),
  )
);
