@use "sprucecss/scss/spruce";
@use "../mixins/" as mixins;

/****  QUOTE BLOCK AS A RIGHT-SIDE NAVBAR  ****/

article > .notion-quote:first-of-type {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
  border: unset;
  margin: 12px calc(15px + (60 - 15) * ((100vw - 300px) / (1600 - 300))) 0px 0px !important;
  padding-right: unset !important;
}

article > .notion-quote:first-of-type:hover span {
  transition: var(--transition) !important;
}

article > .notion-quote:first-of-type:hover span:hover {
  opacity: 1 !important;
}

article > .notion-quote:first-of-type .notion-link.link {
  border-bottom: unset !important;
  opacity: 1 !important;
}

article > .notion-quote:first-of-type span:nth-child(even) {
  margin: 0 calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300))) !important;
}
