@use "sprucecss/scss/spruce";

.notion-semantic-string {
  .link {
    transition: border-width 100ms ease-in, opacity 100ms ease-in;

    &:hover {
      border-bottom-width: 3px;
      color: spruce.color(brand-blue-dark);
      border-bottom-color: spruce.color(brand-blue-dark);
    }
  }
}
