@use "sprucecss/scss/spruce";

.notion-navbar {
  box-shadow: unset !important;
  height: 67px !important;
  position: unset !important;

  & > a:hover {
    background: transparent !important;
  }

  & > span,
  & > a:nth-child(n + 2) {
    display: none;
  }
}

#page-index .notion-navbar > a.item {
  display: unset !important;
}
