@use "sprucecss/scss/spruce";
@use "../mixins/" as mixins;

.notion-header.collection {
  margin-top: spruce.spacer(xl) !important;
}

h1.notion-header__title {
  font-size: spruce.responsive-font-size(6rem, 20) !important;
  line-height: spruce.$line-height-heading !important;
  margin-bottom: spruce.spacer(xl) !important;
  max-width: 50rem;
}

.notion-header__icon-wrapper,
.has-icon > .notion-header__title-wrapper:first-child > div:first-child {
  display: none;
}

.notion-header__cover.no-cover {
  height: spruce.spacer(xxxl) !important;
}

.notion-header__title-wrapper {
  margin-top: 0 !important;
}

.notion-header__description {
  font-size: spruce.font-size(h3) !important;
  line-height: spruce.$line-height-heading;
  margin: -#{spruce.spacer(l)} 0 spruce.spacer(xl) !important;
  max-width: 40rem;
}
