@use "sprucecss/scss/spruce";
@use "../mixins/" as mixins;

h2.notion-heading {
  .notion-semantic-string {
    display: inline-block;
    position: relative;
    margin-bottom: spruce.spacer(m);

    &::after {
      @include mixins.stack(
        $bg: spruce.color(brand-pink),
        $translation: "-0.5rem, 0.8rem"
      );
    }
  }
}

h3.notion-heading {
  font-family: spruce.$font-family-base;
  font-weight: 700;
}
