@use "sprucecss/scss/spruce";

.notion-checkbox {
  position: relative;

  &::after {
    background-color: spruce.color(brand-pink);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transform: translate(-0.2rem, -0.2rem);
    width: 100%;
    z-index: -1;
    border-radius: 100%;
  }

  &.checked {
    background-color: spruce.color(brand-blue) !important;
  }

  path {
    color: spruce.color(brand-blue);
  }
}
