@use "sprucecss/scss/spruce";
@use "../mixins/" as mixins;

.notion-breadcrumb {
  & > a {
    padding: spruce.spacer(xs) spruce.spacer(xs) !important;
  }
}

.notion-breadcrumb__item {
  &:hover {
    background-color: spruce.color(brand-pink) !important;
  }

  &:not(:first-child).has-icon > *:first-child {
    display: none !important;
  }

  &:first-child.has-icon > *:first-child {
    width: 2rem !important;
    height: 2rem !important;
    margin-right: 0.25rem !important;
  }
}

.notion-navbar__title {
  margin-inline-start: 0 !important;
}

.notion-breadcrumb__divider {
  color: spruce.color(brand-pink-dark) !important;
  margin: 0 spruce.spacer(xxs) !important;
}
