@use "sprucecss/scss/spruce";

@mixin stack(
  $bg: spruce.color(brand-blue),
  $rotation: -2deg,
  $translation: "-1rem, -1rem"
) {
  background-color: $bg;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(#{$rotation}) translate(#{$translation});
  width: 100%;
  z-index: -1;
}
