@use "sprucecss/scss/spruce";
@use "../mixins/" as mixins;

#page-index {
  .notion-header__title {
    display: none;
  }

  h1.notion-heading {
    font-size: spruce.responsive-font-size(7rem, 20) !important;
    margin: 0 0 spruce.spacer(s) !important;

    .notion-semantic-string {
      line-height: spruce.$line-height-heading !important;
    }
  }
}
